body {
  background-image: url("../images/bg-main-mobile.png");
  background-color: white;
  background-position: top;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  font-family: "Space Grotesk", sans-serif;
  font-weight: normal;
}

.card__back {
  background-image: url("../images/bg-card-back.png");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 284px;
  height: 155px;
  position: relative;
  top: 33px;
  left: 73px;
  z-index: -1;
}

.card__backNumber {
  color: white;
  font-size: 10px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 35px;
  filter: drop-shadow(0px 39px 60px rgba(0, 0, 0, 0.142481));
}

.card__front {
  background-image: url("../images/bg-card-front.png");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 284px;
  height: 155px;
  color: white;
  position: relative;
  top: -29px;
  left: 16px;
  padding-top: 15px;
  filter: drop-shadow(0px 39px 60px rgba(0, 0, 0, 0.142481));
}

.circle {
  display: flex;
  align-items: center;
  padding-left: 19px;
}

.bigCircle {
  width: 30px;
  height: 30px;
  border-radius: 100px;
  background-color: white;
}

.smallCircle {
  width: 10px;
  height: 10px;
  border-radius: 100px;
  border: 1px solid white;
  margin-left: 11px;
}

.card__details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 39px;
}

.card__details-number {
  letter-spacing: 2px;
  font-size: 18px;
}

.card__details-name {
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  letter-spacing: 2px;
  width: 85%;
  margin-top: 15px;
}

.form,
.formCompleted {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center {
  text-align: center;
  justify-self: center;
  display: none;
}

.cardHolderName,
.cardNumber {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  letter-spacing: 1px;
  color: hsl(278, 68%, 11%);
  font-weight: normal;
}

.cardNumber,
.dateCvc {
  margin-top: 22px;
}

.cardHolderName input,
.cardNumber input {
  width: 310px;
  height: 41px;
  border-radius: 8px;
  text-decoration: none;
  outline: none;
  border: 1px solid hsl(270, 3%, 87%);
  padding-left: 15px;
  font-size: 18px;
  letter-spacing: 1px;
  margin-top: 8px;
}

.numberError, .nameError {
  color: red;
  display: none;
}

.dateCvc {
  font-size: 12px;
  letter-spacing: 1px;
  color: hsl(278, 68%, 11%);
  font-weight: normal;
}

.label {
  display: flex;
  justify-content: space-between;
  width: 192px;
}

.inputs {
  display: flex;
  justify-content: space-between;
  width: 325px;
  margin-top: 7px;
}

.error {
  color: red;
  margin-bottom: 30px;
  position: relative;
}

.monthYearError {
  display: none;
}

.cvcError {
  position: absolute;
  top: 0;
  right: 60px;
  display: none;
}

.inputs input {
  width: 70px;
  height: 41px;
  text-align: center;
  font-size: 18px;
  text-decoration: none;
  outline: none;
  border: 1px solid hsl(270, 3%, 87%);
  border-radius: 8px;
}

.inputs .year {
  margin-left: 7.5px;
}

.inputs .cvc {
  width: 143px;
  text-align: left;
  padding-left: 15px;
  margin-left: 7.5px;
}

.button,
.continue {
  width: 327px;
  height: 53px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  color: hsl(270, 3%, 87%);
  background-color: hsl(278, 68%, 11%);
  font-size: 18px;
}

.thankyou {
  font-size: 28px;
  letter-spacing: 2px;
  color: hsl(278, 68%, 11%);
  margin-top: 40px;
}

.added {
  font-size: 18px;
  color: hsl(279, 6%, 55%);
  margin-top: 16px;
}

.continue {
  margin-top: 48px;
}

@media screen and (min-width: 385px) {
  body {
    background-image: url("../images/bg-main-desktop.png");
    background-position: left;
  }

  .card__back {
    top: 470px;
    left: 260px;
    width: 445px;
    height: 243px;
  }

  .card__backNumber {
    font-size: 15px;
    padding-right: 50px;
  }

  .card__front {
    top: -54px;
    left: 164px;
    width: 445px;
    height: 243px;
    padding-top: 27px;
  }

  .circle {
    padding-left: 29px;
  }

  .bigCircle {
    width: 45px;
    height: 45px;
  }

  .smallCircle {
    width: 20px;
    height: 20px;
    margin-left: 17px;
  }

  .details {
    margin-top: 65px;
  }

  .card__details-number {
    font-size: 30px;
  }

  .card__details-name {
    font-size: 16px;
    margin-top: 20px;
  }

  .form,
  .formCompleted {
    align-items: flex-end;
    padding-right: 210px;
    position: relative;
    bottom: 230px;
  }

  .cardHolderName input,
  .cardNumber input {
    width: 363px;
    font-size: 22px;
  }

  .inputs {
    width: 373px;
    margin-top: 7px;
  }

  .inputs .cvc {
    width: 190px;
    padding-left: 20px;
  }

  .button,
  .continue {
    width: 381px;
    font-size: 18px;
  }
}
